:root {
    --theme-clr: #FF9826;
    --txt-clr: #989898;
    --icon-clr: #727272;
    --bg-clr1: #FFFFFF;
    --bg-clr2: #E5E5E5;
    --bg-clr3: #F8F8F8;
    --border-clr: #DBDBDB;

    --s: 610px;
    --m: 1000px;
    --l: 1280px;
}