.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    align-self: flex-start;
    max-width: 100%;
}

.card-content {
    flex-direction: column;
}

.card .card-title {
    text-transform: uppercase;
    line-height: 1em;
    color: var(--clr2);
    margin-top: 0;
    margin-bottom: 10px;
}

.card .card-p {
    margin-bottom: 8px;
    line-height: 1.25em;
    color: var(--clr3);
}

.card .card-p:last-of-type {
    margin-bottom: 16px;
}

.card .card-content p:last-of-type {
    flex: 1;
}

.card .card-btn {
    position: relative;
    line-height: 1.25em;
    font-size: 16px;
    align-self: flex-start;
    background-color: white;
    color: var(--clr4);
    border: 2px solid var(--clr4);
    padding: 0.5em 1.6em;
    border-radius: 2em;
    font-family: lato-bold;
    transition: color .2s, border .2s, padding .3s ease-out;
    overflow: hidden;
}

.card .card-btn span {
    display: inline-block;
    transform: translateX(-1200%);
    transition: all .2s ease-out;
}

.card .card-btn:hover {
    padding-inline-end: 3.4em;
    color: var(--highlight-clr);
    border: 2px solid var(--highlight-clr);
}

.card .card-btn:hover::after {
    content: "→";
    position: absolute;
    right: 1.3em;
}

.card .card-btn:hover span {
    padding-left: 10px;
    transform: translateX(0);
}