.main-footer {
    flex-direction: column;
    background-color: #f8f8f8;
    min-height: 19.75em;
}

.main-footer .main-logo {
    margin-top: 2em;
    margin-bottom: 0.8em;
}

.main-footer .copy-right {
    margin-bottom: 2.3125em;
}

.social-media {
    min-height: 41px;
}

.social-media * {
    background-color: var(--clr5);
    width: 41px;
    margin: 0 0.59375em;
    transition: background-color 0.3s ease-out;
}

.social-media .facebook {
    mask: url(/assets/icon/facebook.svg) no-repeat center;
}

.social-media .facebook:hover {
    background-color: #1871e7;
}

.social-media .twitter {
    mask: url(/assets/icon/twitter.svg) no-repeat center;
}

.social-media .twitter:hover {
    background-color: #1c93e4;
}

.social-media .behance {
    mask: url(/assets/icon/behance.svg) no-repeat center;
}

.social-media .behance:hover {
    background-color: #1664f2;
}

.social-media .dribbble {
    mask: url(/assets/icon/dribbble.svg) no-repeat center;
}

.social-media .dribbble:hover {
    background-color: #dc4881;
}