.main-header {
    background-color: var(--bg-clr1);
    border-bottom: 1px solid var(--border-clr);
}

.main-header .memegen-logo {
    cursor: pointer;
}

.main-header .main-nav a {
    min-height: 50px;
    margin-inline-end: 50px;
    transition: color .2s;
}

.main-header .main-nav li:last-child a {
    margin-inline-end: 20px;
}

.main-header .main-nav a:hover {
    color: var(--theme-clr);
}