.main-header {
    background-color: white;
    box-shadow: 0 8px 0 0 var(--shadow-clr);
    margin-bottom: 40px;
}

.main-header-nav {
    margin: 0 auto;
}

.main-header .main-nav li {
    border-left: 1px solid var(--shadow-clr);
}

.main-header .main-nav li:last-child {
    border-right: 1px solid var(--shadow-clr);
}

.main-header .main-nav a {
    min-height: 50px;
    margin-inline-end: 50px;
    transition: color .2s, box-shadow .3s ease-out;
}

.main-header .main-nav li:last-child a {
    margin-inline-end: 20px;
}

.main-header .main-nav a:hover {
    box-shadow: 0 8px 0 0 var(--highlight-clr);
    color: var(--highlight-clr);
}