.main-meme-editor {
    display: grid;
    grid-template-columns: 2fr minmax(400px, 1fr);
}

.main-meme-editor .back-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 25px;
}

.main-meme-editor .back-btn span {
    margin-left: 5px;
    font-family: roboto-medium, 'Segoe UI';
    color: var(--txt-clr);
    transition: color .2s;
}

.main-meme-editor .back-btn:hover span {
    color: var(--theme-clr);
}

.main-meme-editor .canvas {
    border-radius: 16px;
}

.main-meme-editor button {
    cursor: pointer;
    border: none;
    padding: 0;
    width: max-content;
    height: max-content;
    background-color: transparent;
}

.main-meme-editor button svg {
    fill: var(--icon-clr);
    transition: all .2s;
}

.main-meme-editor button.chosen svg {
    fill: var(--theme-clr);
}

.main-meme-editor button:hover svg {
    fill: var(--theme-clr);
}

.main-meme-editor .meme-editor {
    background-color: var(--bg-clr3);
}

.main-meme-editor .main-lines-control {
    margin: 30px;
}

.main-meme-editor .main-lines-control button {
    margin-inline-start: 20px;
}

.line-control {
    width: 90%;
    margin: 0 auto;
    background-color: var(--bg-clr1);
    padding: 14px;
    padding-top: 0;
    border: 1px solid var(--border-clr);
    border-radius: 16px;
}

.line-control .line-btns {
    border-bottom: 1px solid var(--border-clr);
    padding: 10px;
}

.line-control .text-input {
    padding: 16px;
    border: none;
}

.line-control .color-input {
    position: relative;
}

.line-control .color-input input {
    position: absolute;
    transform: translate(-75%, -25%);
    opacity: 0;
}