.main-meme-editor {
    display: grid;
    grid-template-columns: 2fr minmax(400px, 1fr);
}

.main-meme-editor .back-btn {
    position: absolute;
    top: 25px;
    left: 25px;
}

/* .main-meme-editor .meme-editor button { */
.main-meme-editor button {
    cursor: pointer;
    border: none;
    padding: 0;
    width: max-content;
    height: max-content;
    background-color: transparent;
}

.main-meme-editor button svg {
    fill: var(--icon-clr);
    transition: all .2s;
}

.main-meme-editor button:hover svg {
    fill: var(--theme-clr);
}

.main-meme-editor .meme-editor {
    background-color: var(--bg-clr3);
}


.line-control .color-input {
    position: relative;
}

.line-control .color-input input {
    position: absolute;
    transform: translate(-75%, -25%);
    opacity: 0;
}