.main-meme-editor.hidden {
    transform: translateX(150%);
}

.main-meme-editor {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: minmax(420px, 1fr) 2fr;
    transition: transform .5s;
}

.main-meme-editor .back-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
}

.main-meme-editor .back-btn span {
    margin-inline-start: 5px;
    font-family: roboto-medium, 'Segoe UI';
    color: var(--txt-clr);
    transition: color .2s;
}

.main-meme-editor .back-btn:hover span {
    color: var(--theme-clr);
}

.main-meme-editor .canvas {
    border-radius: 10px;
}

.main-meme-editor button {
    cursor: pointer;
    border: none;
    padding: 0;
    width: max-content;
    height: max-content;
    background-color: transparent;
}

.main-meme-editor button svg {
    fill: var(--icon-clr);
    transition: all .2s;
}

.main-meme-editor button.chosen svg {
    fill: var(--theme-clr);
}

.main-meme-editor button:hover svg {
    fill: var(--theme-clr);
}

.main-meme-editor .main-lines-control {
    margin: 30px auto;
    width: calc(var(--s) + 20px);
}

.main-meme-editor .main-lines-control button {
    margin-inline-start: 10px;
}

.line-control {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--bg-clr1);
    padding: 14px;
    border: 1px solid var(--border-clr);
    border-radius: 16px;
}


.line-control .line-emoji {
    display: grid;
    padding-top: 10px;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.line-control .line-emoji>* {
    font-size: 38px;
}

.line-control .text-input {
    border: none;
    border-bottom: 1px solid var(--border-clr);
    padding: 16px;
}

.line-control .text-input:focus {
    outline: none;
}

.line-control .color-input {
    position: relative;
}

.line-control .color-input input {
    position: absolute;
    transform: translate(-75%, -25%);
    opacity: 0;
}