.prev-page-btn,
.next-page-btn {
    border: none;
    background-color: inherit;
    font-family: lato-bold;
    text-transform: uppercase;
    color: var(--clr3);
    font-size: inherit;
    transition: color .2s;
}

.prev-page-btn span {
    margin-inline-start: 1.9375em;
    margin-inline-end: 0.5625em;
}

.next-page-btn span {
    margin-inline-start: 0.5625em;
    margin-inline-end: 1.9375em;
}

.prev-page-btn:hover, .next-page-btn:hover {
    color: var(--highlight-clr);
}