* {
    box-sizing: border-box;
}

html {
    color: var(--txt-clr);
}

body {
    /* background-color: var(--bg-clr2); */
    margin: 0;
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

input {
    border: none;
    border-bottom: 1px solid var(--border-clr);
    background-color: white;
    padding: 1em 1em;
    max-width: 400px;
    width: 100%;
}