.main-layout {
    margin: 0 auto;
    max-width: 90%;
}

.meme-layout {
    display: grid;
    gap: 5px;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    /* grid-template-rows: repeat(auto-fill, minmax(400px, 1fr)); */
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
}