.main-layout {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100vh;
    border-left: 1px solid var(--border-clr);
    border-right: 1px solid var(--border-clr);
}

.meme-layout {
    display: grid;
    gap: 5px;
    /* padding-top: 30px; */
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
}

.editor-layout {
    background-color: var(--bg-clr3);
}