.main-meme-gallery {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    border-left: 1px solid var(--border-clr);
    border-right: 1px solid var(--border-clr);
}

.main-meme-editor {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    border-left: 1px solid var(--border-clr);
    border-right: 1px solid var(--border-clr);
}

.meme-layout {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(140px, 200px));
}

.meme-layout img.xxxxxs {
    grid-row: span 1;
}

.meme-layout img.xxxxs {
    grid-row: span 2;
}

.meme-layout img.xxxs {
    grid-row: span 3;
}

.meme-layout img.xxs {
    grid-row: span 4;
}

.meme-layout img.xs {
    grid-row: span 5;
}

.meme-layout img.s {
    grid-row: span 6;
}

.meme-layout img.m {
    grid-row: span 7;
}

.editor-layout {
    background-color: var(--bg-clr3);
}